/*General*/
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --background-color: white;
    --text-color: gray;
    --title-color: black;
}
/*Dark theme*/
.dark-theme{
    --background-color: black;
    --text-color: gray;
    --title-color: white;
}

body{
    background: var(--background-color);
    color: var(--text-color);
   
}

.header{
    width: 100%;
    min-height: 100vh;
    padding: 0 8%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
   align-content: flex-end;
   flex-direction: column;
}
/*Image logo*/
img{
    max-width: 50%;
    max-height: 50%;
}

nav ul{
    width: 100%;
    text-align: right;
    list-style: none;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    margin: 5px 15px;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}
.toggle-button{
    background: #4864ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.toggle-button img{
    width: 25px;
    margin-right: 10px;
    gap: 5px;
}

.content{ 
    margin-top: 10%;
    max-width: 600px;
    display: inline;
    position: relative;
}

p{
    display: flex;
    justify-content: center;
}

.content h1{
    display: flex;
    font-size: 80px;
    font-family: serif;
    color: var(--title-color);
    font-weight: 600;
    justify-content: center;
}

.content h1 span{
    font-family: serif;
    font-weight: 400;
    font-style: italic;
}



.content a{
    background: #4864ff;
    color: white;
    padding: 15px 70px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Added line for vertical centering */
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 200px;
    
    
    
    
}

.image-box img{
    width: 500px;
    display: block;
}

.image-box{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

 /*responsive opp til desktop*/
 @media(min-height: 1025px){

 }

 /*responsive opp til tablet*/
 @media(min-height: 770px){

 }

 /*responsive opp til mobil*/
 @media(min-height: 340px){

 }
 /* MOBILE S TO MOBILE L */
@media screen and (max-width: 426px) {
    
}